body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}

#main-container {
    background-color: #1E3741;
    width: 690px;
    height: 330px;
    position: absolute;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#content {
    position: absolute;
}

header nav ul {
    list-style-type: none;
}

    header nav ul li {
        background-color: #4B5F67;
        padding: 5px 10px;
        display: inline;
    }

        header nav ul li#activeNav {
            background: none;
        }

        header nav ul li a {
            text-decoration: none;
            color: #93ACA9;
        }

            header nav ul li a:hover {
                text-decoration: underline;
            }

        header nav ul li#activeNav a {
            color: #ffffff;
        }

ul {
    padding: 0;
}

section ul {
    list-style-type: none;
    color: #A5AFB3;
    width: 300px;
    float: left;
}

    section ul li {
        padding: 5px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

        section ul li:hover {
            cursor: pointer;
            background-color: #00968C;
            color: #ffffff;
        }

        section ul li:not(:first-child) {
            border: 0 solid #3A4F58;
            border-width: 1px 0 0 0;
        }

ul li ul {
    display: none;
}

ul li:hover ul {
    display: block;
    position: absolute;
    left: 310px;
    top: 50px;
}

img {
    width: 343px;
    height: 250px;
}
