.js-console {
    margin: 0;
	float:right;
	postition:fixed;
	clear:both;
}

body .js-console {
    margin-top: 50px;
    padding: 5px 10px;
    background-color: black;
    width: 540px;
    height: 300px;
    font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
    font-size: 15px;
   color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    word-break: break-all;
}

body .js-console > p {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}

body .js-console > p > span {
    margin: 0;
    padding: 0;
}

body .js-console > p > br {
    display: inline-block;
    margin-bottom: 5px;
}
