<fieldset>
    <legend>Add Cookie</legend>
    <div class="row">
        <label class="col-md-3">
            <input class="form-control" placeholder="Text" type="text" id="tb-text">
        </label>
    </div>
    <div class="row">
        <label class="col-md-3">
            <input class="form-control" placeholder="Category" type="text" id="tb-category">
        </label>
    </div>
    <div class="row">
        <label class="col-md-3">
            <input class="form-control" placeholder="Url" type="text" id="tb-img">
        </label>
    </div>
    <button id="btn-add-cookie" class="btn btn-default col-md-3">Add cookie</button>
</fieldset>
