<h1 class="h1">My current Cookie</h1>
<br/>
<div class="wrapped" style="border-bottom: 3px groove darkslategray;border-top: 3px groove darkslategray">
    <h2>Category: <a href="#/cookies/{{this.category}}">{{category}}</a></h2>
    <img src="{{img}}" alt="cookiePic"/>
    <br/>
    <p style="font-size: 1.3em"><strong>Text: </strong>{{this.text}}</p>
    <strong>created
        <span>{{postDate}}</span>
    </strong>
    <br/>
    <strong>Date of share: </strong>
    <span>{{shareDate}}</span>
    <button class="btn btn-info">Likes: {{likes}}</button>
    <button class="btn btn-danger">Dislikes: {{dislikes}}</button>
</div>

