<div class="row contacts">
    <div class="col-md-3 div"></div>
    <div class="col-lg-6">
        <div class="row empty"></div>
        <div id="members" class="h2">Team members:</div>
        <ul id="sortable">
            <li class="ui-state-default">
                <div class="h4">Adrian Bozhankov</div>
                <a href="https://github.com/AdrianBozhankov" target="_blank"><img src="imgs/git.png" width="30px" height="30px" alt="git"/></a>
            </li>
            <li class="ui-state-default">
                <div class="h4">Ivan Vasilev</div>
                <a href="https://github.com/ivanvasilev" target="_blank"><img src="imgs/git.png" width="30px" height="30px" alt="git"/></a>
            </li>
            <li class="ui-state-default">
                <div class="h4">Ivaylo Andonov</div>
                <a href="https://github.com/IvayloAndonov" target="_blank"><img src="imgs/git.png" width="30px" height="30px" alt="git"/></a>
            </li>
            <li class="ui-state-default">
                <div class="h4">Rodoteia Yordanova</div>
                <a href="https://github.com/RYordanova" target="_blank"><img src="imgs/git.png" width="30px" height="30px" alt="git"/></a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 div"></div>
</div>

<script src="scripts/contactUsDraggable.js"></script>
