<div class="row main">
    <div class="row empty"></div>
    <div class="col-md-2 div"></div>
    <div class="col-lg-8" id="welcome">
        <h2>Welcome to the Clover Club Video Manager!</h2>
        <h4>The place where you can save all your favorite YouTube videos, without searching them every time.</h4>
        <br/>
        <img src="imgs/youtube.png" width="200px" height="140px" alt="youtube"/>
        <div id="fb-root"></div>
    </div>
</div>
<div class="col-md-2 div">

</div>


<script src="controllers/homeController.js"></script>