<div class="row empty"></div>
<div class="row login-div">
    <div class="col-md-4 div"></div>
    <div class="col-md-4 div">
        <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
        </div>
    </div>
    <div class="col-md-4 div"></div>
</div>
<div class="row buttons">
    <div class="col-md-4 div"></div>
    <div class="col-md-4 div" id="my-buttons">
        <input id="login-btn" type="button" class="btn btn-success login" value="Login" />
        <input id="register-btn" type="button" class="btn btn-info" onclick="location.href='#/register'" value="Register" />
    </div>
    <div class="col-md-4 div"></div>
</div>

<script src="controllers/loginController.js"></script>