<div class="row empty"></div>
<div class="row register">
    <div class="col-md-4 div"></div>
    <div class="col-md-4 div">
        <form role="form">
            <div class="form-group">
                <label for="username">User name:</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pass" placeholder="Enter password">
            </div>
            <div class="form-group">
                <label for="pwd">Repeat password:</label>
                <input type="password" class="form-control" id="pass-repeat" placeholder="Enter password">
            </div>
            <button id="register-form-btn" type="submit" class="btn btn-info">Register</button>
        </form>
    </div>
    <div class="col-md-4 div"></div>
</div>

<script src="./controllers/registerController.js"></script>